.rowing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.data {
  height: 150px;
  width: 150px;
}
.button_change {
  border: transparent;
  margin-left: 20px;
  height: 150px;
  width: 150px;
  background: transparent;
}
